body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Mission_Impossible_common.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    position: relative; 
}

.small-overlay {
    position: relative;
    width: 100%;
    margin-top: 90px;
    margin-right: 20px;
}

.small-overlay img {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    position: relative;
    margin-top: 40px;
    z-index: 1;
}

.info {
    /* width: 70%; */
    color: white;
    margin-top: 105px;
    margin-right: 70px;
    font-family: Serif	;
}

h1 {
     /* font-size: 5em; */
        margin-top: -30px;
        margin-bottom: -10px;
        font-size: 55px;
        background: -webkit-linear-gradient(#ff0101 34%,#eee);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating .stars {
    color: red;
    font-size: 1.5em;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.age-rating {
    
    background-color: gray;
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-size: 18px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.rating .imdb {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

.details {
    margin-bottom: 20px;
}

.details p {
    margin-bottom: 5px;
}

.details strong {
    font-weight: bold;
    color: red;
}

.duration {
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 18px;
}

.trailer {
    background-color: red;
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.trailer:hover {
    background-color:red;
}

.description {
    margin-top: -5px;
    margin-bottom: 30px;
    font-size: 18px;
}
@keyframes textFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes textSlideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  /* .text-fade-in {
    animation: textFadeIn 8s ease-in-out;
  }
  
  .text-slide-in {
    animation: textSlideIn 9s ease-out;
  } */
  
  /* Applying animations to text elements */
  .info {
    animation: textFadeIn 2s ease-in-out;
  }